Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

test: add a PHP integration suite that runs against a real server
  .github/workflows/test-integration.yml
  .gitignore
  CHANGELOG.md
  composer.json
  tests/integration/FileIndexMapperTest.php
  tests/integration/ModelDependencyResolverTest.php
  tests/integration/ServerEnvironmentTest.php
  tests/integration/bootstrap.php
  tests/phpunit.integration.xml
  tests/phpunit.xml
Due: none

fix: settle psalm on the new integration files
  psalm-baseline.xml
  tests/integration/bootstrap.php
Due: none

fix: settle psalm narrowing and unblock the newer server branches
  .github/workflows/test-integration.yml
  tests/integration/bootstrap.php
Due: none

fix: install the external-storage schema before the integration run
  .github/workflows/test-integration.yml
Due: none

test: add a PHP integration suite that runs against a real server (#136)
  .github/workflows/test-integration.yml
  .gitignore
  CHANGELOG.md
  composer.json
  psalm-baseline.xml
  tests/integration/FileIndexMapperTest.php
  tests/integration/ModelDependencyResolverTest.php
  tests/integration/ServerEnvironmentTest.php
  tests/integration/bootstrap.php
  tests/phpunit.integration.xml
  tests/phpunit.xml
Due: none

ci: encode the merge gate instead of applying it by hand
  CHANGELOG.md
  package.json
  scripts/check-pr-ready.mjs
Due: none

fix: read a running check's state, not just its conclusion
  scripts/check-pr-ready.mjs
Due: none

ci: encode the merge gate instead of applying it by hand (#137)
  CHANGELOG.md
  package.json
  scripts/check-pr-ready.mjs
Due: none

fix: resolve a dependency whose declared case differs from the file
  CHANGELOG.md
  lib/Service/ModelDependencyResolver.php
  tests/integration/ModelDependencyResolverTest.php
  tests/unit/Service/ModelDependencyResolverTest.php
Due: php

fix: resolve a dependency whose declared case differs from the file (#138)
  CHANGELOG.md
  lib/Service/ModelDependencyResolver.php
  tests/integration/ModelDependencyResolverTest.php
  tests/unit/Service/ModelDependencyResolverTest.php
Due: php

fix: resolve companion files without matching case, everywhere
  .github/workflows/test-integration.yml
  CHANGELOG.md
  lib/Controller/FileController.php
  lib/Service/ModelDependencyResolver.php
  lib/Service/PathLocator.php
  psalm-baseline.xml
  tests/integration/FileControllerLookupTest.php
  tests/integration/ModelDependencyResolverTest.php
  tests/unit/Controller/FileControllerTest.php
  tests/unit/Controller/PublicFileControllerAuthTest.php
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/Service/ShareFileServiceSecurityTest.php
  tests/unit/Service/ShareFileServiceTest.php
Due: php

fix: resolve companion files without matching case, everywhere (#139)
  .github/workflows/test-integration.yml
  CHANGELOG.md
  lib/Controller/FileController.php
  lib/Service/ModelDependencyResolver.php
  lib/Service/PathLocator.php
  psalm-baseline.xml
  tests/integration/FileControllerLookupTest.php
  tests/integration/ModelDependencyResolverTest.php
  tests/unit/Controller/FileControllerTest.php
  tests/unit/Controller/PublicFileControllerAuthTest.php
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/Service/ShareFileServiceSecurityTest.php
  tests/unit/Service/ShareFileServiceTest.php
Due: php

test: pin case-sensitive folder listing across all supported databases
  tests/integration/FileIndexMapperTest.php
Due: none

fix: stop the merge gate blocking on a superseded run
  CHANGELOG.md
  package.json
  scripts/check-pr-ready.mjs
  scripts/pr-ready-lib.mjs
  tests/unit/prReadyGate.test.js
Due: none

test: pin case-sensitive folder listing across all supported databases (#140)
  tests/integration/FileIndexMapperTest.php
Due: none

fix: stop the merge gate blocking on a superseded run (#141)
  CHANGELOG.md
  package.json
  scripts/check-pr-ready.mjs
  scripts/pr-ready-lib.mjs
  tests/unit/prReadyGate.test.js
Due: none

refactor: stop guessing at a texture name that does not match
  CHANGELOG.md
  src/loaders/multiFileHelpers.js
  tests/unit/loaders/getFileIdByPath.test.js
Due: javascript

refactor: stop guessing at a texture name that does not match (#142)
  CHANGELOG.md
  src/loaders/multiFileHelpers.js
  tests/unit/loaders/getFileIdByPath.test.js
Due: javascript

fix: find a texture in any subdirectory, not only conventionally named ones
  CHANGELOG.md
  src/loaders/multiFileHelpers.js
  tests/unit/loaders/getFileIdByPath.test.js
Due: javascript

fix: find a texture in any subdirectory, not only conventionally named ones (#143)
  CHANGELOG.md
  src/loaders/multiFileHelpers.js
  tests/unit/loaders/getFileIdByPath.test.js
Due: javascript

refactor: log the dependency lookup at levels that match what happened
  CHANGELOG.md
  src/loaders/multiFileHelpers.js
Due: javascript

refactor: log the dependency lookup at levels that match what happened (#144)
  CHANGELOG.md
  src/loaders/multiFileHelpers.js
Due: javascript

chore(release): 3.4.0
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

chore(release): 3.4.0 (#145)
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

fix(deps): Fix npm audit
  package-lock.json
Due: none

feat(ui): add the 3D Viewer design system as themeable tokens
  src/css/design-system.css
  src/main.js
  tests/unit/designSystemTokens.test.js
  tests/unit/forcedColorsSelectors.test.js
Due: javascript

fix(ui): ask Nextcloud for the contrast-corrected primary colour
  CHANGELOG.md
  src/App.vue
  src/components/CircularController.vue
  src/components/FileBrowser.vue
  src/components/FileBrowser/FolderHierarchy.vue
  src/components/FileNavigation.vue
  src/components/FileNavigation/FileItem.vue
  src/components/HelpPanel.vue
  src/components/MinimalTopBar.vue
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ToastContainer.vue
  src/components/ViewerToolbar.vue
  src/css/components/circular-controller.css
  src/views/ViewerComponent.vue
  tests/unit/designSystemAdoption.test.js
Due: javascript

fix(ui): give the dark theme one name, the one the app actually sets
  CHANGELOG.md
  src/App.vue
  src/components/SlicerModal.vue
  src/components/ThreeViewer.vue
  src/components/ToastContainer.vue
  src/components/ViewerModal.vue
  src/components/ViewerToolbar.vue
  tests/unit/darkThemeSignal.test.js
Due: javascript

fix(ui): stop dark rules taking their surfaces from the light theme
  CHANGELOG.md
  src/components/HelpPanel.vue
  src/components/ViewerModal.vue
  tests/unit/darkThemeSurfaces.test.js
Due: javascript

refactor(ui): route the whole palette through the design system tokens
  CHANGELOG.md
  src/App.vue
  src/components/FileBrowser.vue
  src/components/FileBrowser/FolderHierarchy.vue
  src/components/FileNavigation.vue
  src/components/HelpPanel.vue
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ToastContainer.vue
  src/components/ViewerModal.vue
  src/components/ViewerToolbar.vue
  src/css/components/circular-controller.css
  src/css/design-system.css
  src/views/PersonalSettings.vue
  src/views/ViewerComponent.vue
  tests/unit/designSystemAdoption.test.js
Due: javascript

ci: run the Playwright suite, which nothing has ever run
  .github/workflows/test-playwright.yml
  CHANGELOG.md
  scripts/pr-ready-lib.mjs
  tests/playwright/design-system-tokens.spec.ts
  tests/playwright/obj-mtl.spec.ts
  tests/unit/prReadyGate.test.js
Due: none

feat(ui): redesign the top bar, and stop drawing controls with emoji
  CHANGELOG.md
  package.json
  scripts/check-bundle-size.mjs
  scripts/sync-icon-paths.mjs
  src/components/MinimalTopBar.vue
  src/components/ViewerIcon.vue
  src/config/icon-paths.js
  tests/unit/iconPaths.test.js
  tests/unit/noEmojiIcons.test.js
Due: javascript

feat(ui): redesign the tools panel and convert its icons
  CHANGELOG.md
  scripts/sync-icon-paths.mjs
  src/components/FileBrowser/FolderHierarchy.vue
  src/components/SlideOutToolPanel.vue
  src/config/icon-paths.js
  tests/unit/iconPaths.test.js
  tests/unit/noEmojiIcons.test.js
Due: javascript

feat(ui): finish the icon conversion, and fix the size check that hid its cost
  CHANGELOG.md
  scripts/check-bundle-size.mjs
  scripts/sync-icon-paths.mjs
  src/components/CircularController.vue
  src/components/HelpPanel.vue
  src/components/SlicerModal.vue
  src/components/ThreeViewer.vue
  src/components/ViewerToolbar.vue
  src/config/icon-paths.js
  src/views/ViewerComponent.vue
  tests/unit/noEmojiIcons.test.js
Due: javascript

feat(ui): redesign the performance HUD and the statistics panel
  CHANGELOG.md
  src/components/ThreeViewer.vue
  tests/playwright/a11y-forced-colors.spec.ts
  tests/playwright/design-system-tokens.spec.ts
Due: javascript

feat(ui): redesign the slicer dialog, and repair ten declarations I broke
  CHANGELOG.md
  src/components/SlicerModal.vue
  src/css/components/circular-controller.css
  tests/unit/cssDeclarationsParse.test.js
Due: javascript

fix(ui): keep the floating chrome clear of the bar it floats over
  CHANGELOG.md
  src/components/MinimalTopBar.vue
  src/components/SlideOutToolPanel.vue
  src/components/ToastContainer.vue
  src/css/design-system.css
  tests/playwright/obj-mtl.spec.ts
Due: javascript

fix(ui): make the design system's buttons win against Nextcloud's own
  CHANGELOG.md
  src/components/MinimalTopBar.vue
  src/css/design-system.css
  src/utils/fileHelpers.js
  tests/playwright/design-system-tokens.spec.ts
  tests/unit/utils/formatLabel.test.js
Due: javascript

fix(viewer): give the grid one colour, and let the theme set it
  CHANGELOG.md
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useScene.js
  src/config/viewer-config.js
  tests/unit/gridColour.test.js
Due: javascript

fix(ui): hold the buttons' colours through hover, focus and click
  CHANGELOG.md
  src/components/MinimalTopBar.vue
  src/css/design-system.css
  tests/playwright/design-system-tokens.spec.ts
  tests/playwright/obj-mtl.spec.ts
Due: javascript

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
