Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

fix: annotation overlay — stack title and action buttons so Clear All isn't clipped
  src/components/ThreeViewer.vue
Due: javascript

fix: annotation markers invisible — exclude TransformControls picker plane
  src/composables/useAnnotation.js
Due: javascript

feat: scene comparison diff overlay + fix latent comparison loader bug
  CHANGELOG.md
  src/components/ThreeViewer.vue
  src/composables/useComparison.js
Due: javascript

feat: annotations persistence — auto-save per file to backend
  CHANGELOG.md
  lib/Controller/AnnotationsController.php
  lib/Service/AnnotationsService.php
  scripts/check-bundle-size.mjs
  src/components/ThreeViewer.vue
  src/composables/useAnnotation.js
Due: php, javascript

feat: file browser search & filters (with global recursive search)
  CHANGELOG.md
  scripts/check-bundle-size.mjs
  src/components/FileBrowser.vue
Due: javascript

Update .gitignore
  .gitignore
Due: none

feat: clipping box — 6-plane section analysis
  CHANGELOG.md
  scripts/check-bundle-size.mjs
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/composables/useClippingPlane.js
Due: javascript

feat: shareable view link — copy current camera state as URL
  CHANGELOG.md
  scripts/check-bundle-size.mjs
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/utils/cameraUrlState.js
Due: javascript

feat: batch of 6 Future Ideas — measurement suite, palette, decoder workers, memory pressure, adaptive textures, indexing status
  CHANGELOG.md
  TODO.md
  lib/Controller/FileController.php
  lib/Service/FileIndexService.php
  scripts/check-bundle-size.mjs
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useModelStats.js
  src/composables/usePerformance.js
  src/composables/useProgressiveTextures.js
  src/composables/useTheme.js
  src/loaders/types/gltf.js
  src/views/PersonalSettings.vue
  tests/unit/Service/FileIndexServiceTest.php
Due: php, javascript

fix: FBX lens transparency + stats panel size/texture accuracy + clay render
  CHANGELOG.md
  src/components/ThreeViewer.vue
  src/composables/useModelStats.js
  src/loaders/types/fbx.js
Due: javascript

feat: a11y follow-ups — modal focus trap, skip-to-viewer link, swiftshader smoke
  CHANGELOG.md
  TODO.md
  package.json
  playwright.config.ts
  src/App.vue
  src/components/HelpPanel.vue
  src/components/SlicerModal.vue
  src/composables/useFocusTrap.js
  tests/playwright/a11y-skip-link.spec.ts
  tests/unit/composables/useFocusTrap.test.js
Due: javascript

test: loader smoke coverage — cancel+retry, network drop
  CHANGELOG.md
  TODO.md
  src/components/ThreeViewer.vue
  tests/smoke/viewer.spec.ts
Due: javascript

test: export pipeline — blob MIME, multi-material OBJ, SlicerModal MIME fix
  CHANGELOG.md
  TODO.md
  package.json
  src/components/SlicerModal.vue
  tests/unit/composables/useExport.test.js
Due: javascript

fix: glTF data-URI buffers + skip link placement (live E2E findings)
  CHANGELOG.md
  lib/Service/ResponseBuilder.php
  scripts/live-e2e-check.mjs
  src/App.vue
Due: php, javascript

fix: standalone viewer — forward renderer to loader so KTX2 init works
  CHANGELOG.md
  scripts/live-e2e-check.mjs
  src/components/ThreeViewer.vue
  src/loaders/types/gltf.js
Due: javascript

fix: 3DS files load in authored orientation (no forced Z→Y rotation)
  CHANGELOG.md
  scripts/inspect-3ds.mjs
  src/loaders/types/threeDS.js
Due: javascript

feat: i18n parity tooling + close 329-string en.json gap
  CHANGELOG.md
  TODO.md
  l10n/en.json
  package.json
  scripts/check-i18n.mjs
Due: none

feat: forced-colors (Windows HC) CSS hardening for badges, chips, focus
  CHANGELOG.md
  TODO.md
  src/components/ThreeViewer.vue
  src/css/forced-colors.css
  src/main.js
  tests/playwright/a11y-forced-colors.spec.ts
Due: javascript

feat: OFF, AMF, 3DM loaders (partial fix for #97)
  .gitignore
  CHANGELOG.md
  appinfo/mimetypemapping.json
  lib/Constants/SupportedFormats.php
  rhino3dm/rhino3dm.js
  rhino3dm/rhino3dm.module.js
  scripts/copy-decoders.mjs
  src/config/viewer-config.js
  src/loaders/registry.js
  src/loaders/types/amf.js
  src/loaders/types/off.js
  src/loaders/types/threeDM.js
  src/main.js
  tests/unit/loaders/off-parser.test.js
Due: php, javascript

feat: dotbim (.bim) loader — 4th format from #97
  CHANGELOG.md
  appinfo/mimetypemapping.json
  lib/Constants/SupportedFormats.php
  src/config/viewer-config.js
  src/loaders/registry.js
  src/loaders/types/dotbim.js
  src/main.js
  tests/unit/loaders/dotbim-parser.test.js
Due: php, javascript

feat: IFC (.ifc) loader — 5th format from #97
  .gitignore
  CHANGELOG.md
  appinfo/mimetypemapping.json
  lib/Constants/SupportedFormats.php
  package-lock.json
  package.json
  scripts/copy-decoders.mjs
  src/config/viewer-config.js
  src/loaders/registry.js
  src/loaders/types/ifc.js
  src/main.js
Due: php, javascript

feat: STEP/IGES/BREP/FCSTD via shared OCCT runtime (closes #97)
  .gitignore
  CHANGELOG.md
  appinfo/mimetypemapping.json
  lib/Constants/SupportedFormats.php
  package-lock.json
  package.json
  scripts/copy-decoders.mjs
  src/config/viewer-config.js
  src/loaders/occt-runtime.js
  src/loaders/registry.js
  src/loaders/types/brep.js
  src/loaders/types/fcstd.js
  src/loaders/types/iges.js
  src/loaders/types/step.js
  src/main.js
Due: php, javascript

test: live multi-format loader harness + OFF/BIM fixtures
  scripts/live-multi-format.mjs
  tests/fixtures/quad.bim
  tests/fixtures/tetrahedron.off
Due: none

docs: list OFF/AMF/3DM/BIM/IFC/STEP/IGES/BREP/FCSTD in README + info.xml
  README.md
  appinfo/info.xml
Due: none

release: v3.3.0
  CHANGELOG.md
  appinfo/info.xml
  package.json
Due: none

chore: bump app-bundle budget for v3.3.0 new formats
  scripts/check-bundle-size.mjs
Due: none

fix(info.xml): shorten summary to 117 chars for appstore max-length
  appinfo/info.xml
Due: none

chore(deps): npm audit fix — resolve 3 moderate prod vulnerabilities
  package-lock.json
Due: none

fix(deps): Fix npm audit
  package-lock.json
Due: none

Fix 500 errors on NextCloud 34 caused by calling removed methods
  lib/Service/ResponseBuilder.php
Due: php

Update database connection method in migration
  lib/Migration/Version010903Date20251121000000.php
Due: php

fix: harden against NC 34 removed-API fatals
  .github/workflows/update-nextcloud-ocp-matrix.yml
  CHANGELOG.md
  composer.json
  lib/Migration/Version010903Date20251121000000.php
  lib/Service/ResponseBuilder.php
  tests/unit/NoPrivateServerApiTest.php
  tests/unit/Service/ResponseBuilderCspTest.php
Due: php

fix: pin nextcloud/ocp to stable31 and satisfy php-cs
  .github/workflows/update-nextcloud-ocp-matrix.yml
  CHANGELOG.md
  composer.json
  tests/unit/Service/ResponseBuilderCspTest.php
Due: none

chore(release): 3.3.1
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

fix: enforce share password on the public file endpoint
  CHANGELOG.md
  lib/Controller/PublicFileController.php
  lib/Service/ShareFileService.php
  tests/unit/Controller/PublicFileControllerAuthTest.php
  tests/unit/Controller/PublicFileControllerTest.php
  tests/unit/Service/ShareFileServiceSecurityTest.php
  tests/unit/Service/ShareFileServiceTest.php
Due: php

chore(release): 3.3.2
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

chore(deps): resolve four npm advisories in production deps
  CHANGELOG.md
  package-lock.json
Due: none

chore(deps): unblock npm update and refresh lockfile
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/FileBrowser.vue
  src/components/HelpPanel.vue
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ViewerToolbar.vue
  src/views/ViewerComponent.vue
Due: javascript

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
