Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
    patch:
      default:
        target: 60%
        threshold: 5%

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

ignore:
  - "tests/"
  - "vendor/"
  - "vendor-bin/"
  - "node_modules/"
  - "build/"
  - "dist/"
  - "*.min.js"
  - "*.min.css"

flags:
  php:
    paths:
      - "lib/"
    carryforward: true
  javascript:
    paths:
      - "src/"
    carryforward: true

chore: bump three and vite, ensure CodeQL uses v4
  .github/workflows/security.yml
  package-lock.json
  package.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update viewer UI components and styles
  src/components/FileBrowser.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/css/components/circular-controller.css
Due: javascript

chore(release): bump version to 2.2.0
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

fix(deps): Fix npm audit
  package-lock.json
Due: none

add G-code support
  CHANGELOG.md
  appinfo/mimetypemapping.json
  img/filetypes/gcode.svg
  lib/Constants/SupportedFormats.php
  src/config/viewer-config.js
  src/loaders/registry.js
  src/loaders/types/gcode.js
  src/main.js
Due: php, javascript

more gcode support
  CHANGELOG.md
  appinfo/mimetypemapping.json
  img/filetypes/acode.svg
  img/filetypes/g.svg
  img/filetypes/g3drem.svg
  img/filetypes/gco.svg
  img/filetypes/gx.svg
  img/filetypes/makerbot.svg
  img/filetypes/nc.svg
  img/filetypes/thing.svg
  lib/Constants/SupportedFormats.php
  lib/Controller/FileController.php
  src/config/viewer-config.js
  src/loaders/registry.js
  src/loaders/types/gcode.js
  src/main.js
Due: php, javascript

Remove icon configuration (aliases, JS registration)
  appinfo/Application.php
  lib/AppInfo/Application.php
  lib/Repair/RegisterThreeDMimeTypes.php
  lib/Repair/UnregisterThreeDMimeTypes.php
Due: php

refactor: comprehensive code quality improvements
  .eslintrc.cjs
  src/App.vue
  src/components/CircularController.vue
  src/components/FileBrowser.vue
  src/components/FileBrowser/FolderHierarchy.vue
  src/components/FileNavigation.vue
  src/components/HelpPanel.vue
  src/components/MinimalTopBar.vue
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useAnnotation.js
  src/composables/useComparison.js
  src/composables/useMeasurement.js
  src/files-action.js
  src/loaders/types/gcode.js
  src/loaders/types/viewer-api.js
  src/main.js
  src/views/PersonalSettings.vue
  src/views/ViewerComponent.vue
Due: javascript

Fix GLB preprocessing for CSP modal
  src/loaders/types/gltf.js
  src/views/ViewerComponent.vue
Due: javascript

Default gradient G-code colors and slicer passthrough
  CHANGELOG.md
  TODO.md
  lib/Controller/SlicerController.php
  src/App.vue
  src/components/MinimalTopBar.vue
  src/components/SlicerModal.vue
  src/components/ThreeViewer.vue
  src/config/viewer-config.js
  src/loaders/types/gcode.js
  src/views/PersonalSettings.vue
  src/views/ViewerComponent.vue
Due: php, javascript

Hide G-code color controls when not viewing G-code
  src/App.vue
  src/components/MinimalTopBar.vue
Due: javascript

Improve G-code visualization with gradient coloring and travel move filtering
  src/App.vue
  src/components/ThreeViewer.vue
  src/composables/useModelStats.js
  src/loaders/types/gcode.js
Due: javascript

Mobile optimizations and G-code visualization improvements
  CHANGELOG.md
  src/components/HelpPanel.vue
  src/components/MinimalTopBar.vue
  src/components/ThreeViewer.vue
Due: javascript

chore(deps): bump @nextcloud/dialogs from 7.1.0 to 7.2.0
  package-lock.json
  package.json
Due: none

chore(lint): clear ESLint errors; tidy matrix validation and loaders; add @nextcloud/axios; fix vrml control-char handling; expose app instance; suppress template handlers
  package-lock.json
  package.json
  src/App.vue
  src/components/FileBrowser.vue
  src/components/MinimalTopBar.vue
  src/components/SlicerModal.vue
  src/components/ThreeViewer.vue
  src/components/ViewerModal.vue
  src/composables/useCamera.js
  src/composables/useComparison.js
  src/composables/useMeasurement.js
  src/composables/useMobile.js
  src/composables/useScene.js
  src/composables/useSlicerIntegration.js
  src/composables/useTheme.js
  src/loaders/types/fbx.js
  src/loaders/types/gcode.js
  src/loaders/types/gltf.js
  src/loaders/types/obj.js
  src/loaders/types/ply.js
  src/loaders/types/vrml.js
  src/main.js
  src/utils/logger.js
  src/views/ViewerComponent.vue
  tests/smoke/viewer.spec.ts
Due: javascript

Release v2.3.1: Bug fixes and security improvements
  CHANGELOG.md
  README.md
  appinfo/info.xml
  lib/Controller/BaseController.php
  lib/Controller/FileController.php
  lib/Controller/PublicFileController.php
  lib/Controller/SlicerController.php
  lib/Cron/CleanupTempFiles.php
  lib/Service/Exception/UnsupportedFileTypeException.php
  lib/Service/FileService.php
  lib/Service/ModelFileSupport.php
  lib/Service/ShareFileService.php
  package.json
  src/App.vue
Due: php, javascript

Release v2.3.2: Update stylelint-scss dependency
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

feat: Add fast lightweight thumbnail generator for 3D models
  lib/Controller/ThumbnailController.php
  lib/Preview/ModelPreviewProvider.php
  lib/Service/ThumbnailService.php
  src/components/ThreeViewer.vue
  src/composables/useThumbnailCapture.js
Due: php, javascript

feat: Add automatic thumbnail generation for 3D models
  CHANGELOG.md
  README.md
  appinfo/info.xml
  appinfo/mimetypemapping.json
  docs/TECHNICAL.md
  lib/AppInfo/Application.php
  lib/Controller/ThumbnailController.php
  lib/Preview/ModelPreviewProvider.php
  lib/Service/ThumbnailService.php
  package.json
  src/App.vue
  src/components/ThreeViewer.vue
  src/composables/useThumbnailCapture.js
  src/config/viewer-config.js
  src/views/PersonalSettings.vue
  src/views/ViewerComponent.vue
Due: php, javascript

Release v2.3.4 - Nextcloud subfolder compatibility fix
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package-lock.json
  package.json
  scripts/check-bundle-size.mjs
  src/App.vue
  src/components/SlicerModal.vue
  src/composables/useComparison.js
  src/composables/useModelLoading.js
  src/config/viewer-config.js
  src/constants/index.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/gltf.js
  src/views/ViewerComponent.vue
Due: javascript

chore: Fix PHP CS Fixer issues and regenerate OpenAPI spec
  appinfo/Application.php
  lib/Controller/SlicerController.php
  lib/Controller/ThumbnailController.php
  lib/Preview/ModelPreviewProvider.php
  lib/Repair/RegisterThreeDMimeTypes.php
  lib/Service/ThumbnailService.php
  openapi.json
Due: php

chore(deps-dev): bump babel packages to 7.29.0 and playwright to 1.58.2
  package-lock.json
  package.json
Due: none

fix(deps): reduce npm audit vulnerabilities and prep for Vue 3 migration
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
  scripts/check-bundle-size.mjs
  src/components/FileBrowser.vue
  src/components/FileNavigation.vue
  src/components/FileNavigation/DateItem.vue
  src/components/FileNavigation/FileItem.vue
  src/components/FileNavigation/FolderItem.vue
  src/components/FileNavigation/TypeItem.vue
  src/composables/useThumbnailCapture.js
Due: javascript

feat: migrate from Vue 2 to Vue 3
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
  src/loaders/types/viewer-api.js
  src/main.js
  src/settings-personal.js
  tests/playwright/obj-mtl.spec.ts
Due: javascript

fix(viewer): add defensive guards for ViewerComponent rendering
  src/main.js
  src/views/ViewerComponent.vue
  src/views/ViewerWrapper.js
Due: javascript

fix(three): use shallowRef for Three.js objects to prevent Vue 3 proxy errors
  src/components/CircularController.vue
  src/composables/useAnimation.js
  src/composables/useCamera.js
  src/composables/useMobile.js
  src/composables/useScene.js
  src/views/ViewerWrapper.js
Due: javascript

fix(wrapper): use reactive bridge for Vue 2→3 prop forwarding
  src/views/ViewerWrapper.js
Due: javascript

fix(three): convert all remaining Three.js refs to shallowRef
  .playwright-mcp/page-2026-04-02T06-10-55-361Z.yml
  .playwright-mcp/page-2026-04-02T06-11-13-310Z.yml
  .playwright-mcp/page-2026-04-02T06-11-18-653Z.yml
  .playwright-mcp/page-2026-04-02T06-11-48-993Z.png
  .playwright-mcp/page-2026-04-02T06-13-55-245Z.yml
  .playwright-mcp/page-2026-04-02T06-14-15-119Z.yml
  .playwright-mcp/page-2026-04-02T06-14-30-901Z.yml
  .playwright-mcp/page-2026-04-02T06-14-49-003Z.yml
  .playwright-mcp/page-2026-04-02T06-15-09-335Z.yml
  .playwright-mcp/page-2026-04-02T06-15-39-392Z.yml
  .playwright-mcp/page-2026-04-02T06-16-11-222Z.png
  .playwright-mcp/test-cube.stl
  src/components/ViewCube.vue
  src/composables/useAnnotation.js
  src/composables/useCamera.js
  src/composables/useFaceLabels.js
  src/composables/useMeasurement.js
  src/composables/useUI.js
  src/views/ViewerComponent.vue
Due: javascript

fix(vue3): replace $set with direct property assignment in ToastContainer
  src/components/ToastContainer.vue
Due: javascript

fix(three): shallowRef for mesh/label arrays in measurement, annotation, comparison, faceLabels
  src/composables/useAnnotation.js
  src/composables/useComparison.js
  src/composables/useFaceLabels.js
  src/composables/useMeasurement.js
Due: javascript
