Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

Fix CI
  .php-cs-fixer.dist.php
  appinfo/Application.php
  lib/AppInfo/Application.php
  lib/Controller/ApiController.php
  lib/Controller/AssetController.php
  lib/Controller/BaseController.php
  lib/Controller/FileController.php
  lib/Controller/PageController.php
  lib/Controller/PublicFileController.php
  lib/Controller/ThumbnailController.php
  lib/Listener/CspListener.php
  lib/Listener/LoadFilesListener.php
  lib/Repair/RegisterThreeDMimeTypes.php
  lib/Repair/UnregisterThreeDMimeTypes.php
  lib/Service/FileService.php
  lib/Service/ModelFileSupport.php
  lib/Service/ResponseBuilder.php
  lib/Service/ShareFileService.php
  php-cs-fixer
  rector.php
  tests/unit/Controller/FileControllerTest.php
  tests/unit/Controller/PublicFileControllerTest.php
  tests/unit/Service/FileServiceSiblingTest.php
  tests/unit/Service/FileServiceTest.php
  tests/unit/Service/ModelFileSupportTest.php
  tests/unit/Service/ShareFileServiceTest.php
Due: php

Update openapi.json
  openapi.json
Due: none

docs: Update
  CHANGELOG.md
  README.md
  docs/README.md
Due: none

docs: comprehensive update of all documentation for v1.7.9
  CHANGELOG.md
  README.md
  TODO.md
  docs/IMPLEMENTATION.md
  docs/README.md
  docs/TECHNICAL.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
Due: none

clean
  3d_controller_circle_sketch.svg
  FACE_LABELS_README.md
  VUE3_MIGRATION_GUIDE.md
Due: none

fix: Update workflow files to use main branch instead of master
  .github/workflows/npm-audit-fix.yml
  .github/workflows/update-nextcloud-ocp-approve-merge.yml
  .github/workflows/update-nextcloud-ocp-matrix.yml
Due: none

chore(deps): bump three from 0.180.0 to 0.181.0 and stylelint from 16.10.0 to 16.25.0
  package-lock.json
  package.json
Due: none

feat: add automated Nextcloud app store publishing
  .github/workflows/release.yml
Due: none

fix: use correct app store push action
  .github/workflows/release.yml
Due: none

fix: correct parameter names for app store action
  .github/workflows/release.yml
Due: none

fix: add Prod environment to access environment secrets
  .github/workflows/release.yml
Due: none

fix: use tar.gz format for Nextcloud app store
  .github/workflows/release.yml
Due: none

fix: folder name in tar.gz must match app ID
  .github/workflows/release.yml
Due: none

chore: add dependency checker
  .github/workflows/check-deps.yml
Due: none

chore: remove checker
  .github/workflows/check-deps.yml
Due: none

Update .gitignore
  .gitignore
Due: none

Fix: Add dark theme support to slide-out toolbar panel
  appinfo/info.xml
  img/screenshots/01-main-viewer.png
  img/screenshots/02-files-integration.png
  img/screenshots/03-toolbar-features.png
  img/screenshots/04-multi-file-support.png
  img/screenshots/05-dark-theme.png
  src/components/SlideOutToolPanel.vue
Due: javascript

Bump version to 1.7.10
  CHANGELOG.md
  appinfo/info.xml
  package.json
Due: none

Update info.xml
  appinfo/info.xml
Due: none

Fix Viewer integration and route conflicts
  appinfo/info.xml
  lib/Controller/PageController.php
  src/App.vue
  src/views/ViewerComponent.vue
Due: php, javascript

Bump version to 1.7.11
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

Fix axes helper positioning and dynamic scaling
  src/components/ThreeViewer.vue
Due: javascript

Fix app logo path in demo scene
  src/components/ThreeViewer.vue
Due: javascript

Bump version to 1.7.12
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

fix: remove global CSP listener and fix custom file icons (v1.7.13)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  CHANGELOG.md
  appinfo/info.xml
  lib/AppInfo/Application.php
  lib/Listener/CspListener.php
  package.json
  scripts/copy-icons.mjs
Due: php

Release v1.8.0 - Screenshot & Billboard Text Features
  CHANGELOG.md
  README.md
  appinfo/info.xml
  l10n/ar.json
  l10n/de.json
  l10n/en.json
  l10n/es.json
  package.json
  src/App.vue
  src/components/HelpPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useScene.js
  src/composables/useScreenshot.js
  src/utils/modelScaleUtils.js
  src/views/ViewerComponent.vue
Due: javascript

feat: Add slicer integration for 3D printing workflow (v1.9.0)
  appinfo/info.xml
  appinfo/routes.php
  img/slicers/bambu.png
  img/slicers/cura.png
  img/slicers/eufystudio.png
  img/slicers/orca.png
  img/slicers/prusaslicer.png
  img/slicers/simplify3d.png
  l10n/ar.json
  l10n/de.json
  l10n/en.json
  l10n/es.json
  lib/Controller/SlicerController.php
  package.json
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ViewerModal.vue
  src/components/ViewerToolbar.vue
  src/composables/useSlicerIntegration.js
Due: php, javascript

docs: Update README and CHANGELOG for v1.9.0 slicer integration
  CHANGELOG.md
  README.md
  src/App.vue
  src/components/ThreeViewer.vue
  vite.config.js
Due: javascript

docs: Update README version to 1.9.0 with release date
  README.md
Due: none

fix: Add support for serving slicer PNG images via AssetController
  lib/Controller/AssetController.php
Due: php

chore: Update dependencies and implement preview provider (v1.9.1)
  appinfo/info.xml
  lib/AppInfo/Application.php
  lib/Controller/ThumbnailController.php
  lib/Preview/ModelPreviewProvider.php
  openapi.json
  package-lock.json
  package.json
  src/constants/index.js
  src/css/threedviewer-filesIntegration.css
  src/files-action.js
  src/main.js
Due: php, javascript

docs: Update README and CHANGELOG for v1.9.1
  CHANGELOG.md
  README.md
Due: none

fix image
  appinfo/info.xml
  lib/Controller/AssetController.php
  src/composables/useSlicerIntegration.js
Due: php, javascript

Release 1.9.2
  CHANGELOG.md
  README.md
  appinfo/info.xml
  lib/AppInfo/Application.php
  lib/Command/IndexFiles.php
  lib/Controller/ConfigController.php
  lib/Controller/FileController.php
  lib/Controller/PageController.php
  lib/Db/FileIndex.php
  lib/Db/FileIndexMapper.php
  lib/Listener/FileIndexListener.php
  lib/Migration/Version010902Date20251116061241.php
  lib/Service/FileIndexService.php
  package-lock.json
  package.json
  src/App.vue
  src/components/CircularController.vue
  src/components/FileBrowser.vue
  src/components/FileBrowser/FolderHierarchy.vue
  src/components/FileNavigation.vue
  src/components/FileNavigation/DateItem.vue
  src/components/FileNavigation/FileItem.vue
  src/components/FileNavigation/FolderItem.vue
  src/components/FileNavigation/TypeItem.vue
  src/components/MinimalTopBar.vue
  src/components/ThreeViewer.vue
  src/loaders/multiFileHelpers.js
  src/loaders/types/gltf.js
Due: php, javascript

Fix preview provider registration: register for each MIME type
  lib/AppInfo/Application.php
Due: php

Update version to 1.9.3
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

Release 1.9.4 - Fix migration class declaration and update version
  CHANGELOG.md
  README.md
  appinfo/info.xml
  lib/Migration/Version010902Date20251116061241.php
  package.json
Due: php

Release 1.9.5 - Fix migration index length and bump version
  CHANGELOG.md
  README.md
  appinfo/info.xml
  lib/Migration/Version010902Date20251116061241.php
  package.json
Due: php

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
