Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

chore(release): 3.5.0
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

chore(release): 3.5.0 (#155)
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

ci: fail the release when the app store did not receive it
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/appstore-release-lib.mjs
  scripts/verify-appstore-release.mjs
  tests/unit/appstoreRelease.test.js
Due: none

ci: fail the release when the app store did not receive it (#157)
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/appstore-release-lib.mjs
  scripts/verify-appstore-release.mjs
  tests/unit/appstoreRelease.test.js
Due: none

fix(deps): Fix npm audit
  package-lock.json
Due: none

fix(viewer): open CAD models without unsafe-eval in the CSP
  CHANGELOG.md
  docs/TECHNICAL.md
  lib/AppInfo/Application.php
  lib/Listener/CspListener.php
  scripts/occt-no-eval.mjs
  tests/bootstrap.php
  tests/stubs/ContentSecurityPolicyManager.php
  tests/unit/Listener/CspListenerTest.php
  tests/unit/loaders/occtNoEval.test.js
  vite.config.js
Due: php

test(psalm): baseline the CSP listener test and its stub
  psalm-baseline.xml
Due: none

fix(viewer): open CAD models without unsafe-eval in the CSP (#173)
  CHANGELOG.md
  docs/TECHNICAL.md
  lib/AppInfo/Application.php
  lib/Listener/CspListener.php
  psalm-baseline.xml
  scripts/occt-no-eval.mjs
  tests/bootstrap.php
  tests/stubs/ContentSecurityPolicyManager.php
  tests/unit/Listener/CspListenerTest.php
  tests/unit/loaders/occtNoEval.test.js
  vite.config.js
Due: php

chore(release): 3.5.1
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

chore(release): 3.5.1 (#174)
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

chore(deps): bump three from 0.185.1 to 0.186.1
  .github/workflows/test-jest.yml
  CHANGELOG.md
  babel.config.json
  package-lock.json
  package.json
Due: none

chore(deps): bump three from 0.185.1 to 0.186.1 (#185)
  .github/workflows/test-jest.yml
  CHANGELOG.md
  babel.config.json
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump Babel from 7 to 8
  .nvmrc
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps-dev): bump Babel from 7 to 8 (#186)
  .nvmrc
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs(spec): design shared annotations and measurements
  docs/superpowers/specs/2026-09-28-shared-notes-design.md
Due: none

docs(spec): refine payload cap, CSRF on reads, retry placement
  docs/superpowers/specs/2026-09-28-shared-notes-design.md
Due: none

docs(plan): implementation plan for shared notes
  docs/superpowers/plans/2026-09-28-shared-notes.md
Due: none

feat(notes): add shared notes table, entity and mapper
  lib/Db/Note.php
  lib/Db/NoteMapper.php
  lib/Migration/Version030600Date20260928000000.php
  tests/integration/NoteMapperTest.php
  tests/unit/Migration/Version030600Date20260928000000Test.php
Due: php

feat(notes): validate note payloads
  lib/Service/Exception/InvalidNoteException.php
  lib/Service/Exception/NoteLimitException.php
  lib/Service/NotePayload.php
  tests/unit/Service/NotePayloadTest.php
Due: php

feat(notes): derive note access from the model file
  lib/Service/NoteAccess.php
  lib/Service/NoteAccessResult.php
  tests/unit/Service/NoteAccessTest.php
Due: php

fix(notes): let storage failures in note access surface
  lib/Service/NoteAccess.php
  tests/unit/Service/NoteAccessTest.php
Due: php

feat(notes): store shared notes and migrate private annotations
  lib/Service/AnnotationsService.php
  lib/Service/NotesService.php
  tests/unit/Service/NotesServiceTest.php
Due: php

fix(notes): keep legacy annotations that could not be moved
  lib/Service/NotesService.php
  tests/unit/Service/NotesServiceTest.php
Due: php

feat(notes): add signed-in notes API and retire private annotations API
  lib/Controller/AnnotationsController.php
  lib/Controller/NotesController.php
  openapi.json
  tests/unit/Controller/NotesControllerTest.php
Due: php

feat(notes): serve notes read-only on public links
  lib/Controller/PublicNotesController.php
  openapi.json
  tests/unit/Controller/PublicNotesControllerTest.php
Due: php

test(notes): check note access through the real middleware over HTTP
  .github/workflows/test-integration.yml
  .gitignore
  composer.json
  tests/http/HttpTestCase.php
  tests/http/NotesHttpTest.php
  tests/phpunit.http.xml
Due: none

feat(notes): remove notes of permanently deleted models daily
  appinfo/info.xml
  lib/Cron/CleanupOrphanNotes.php
  tests/integration/NoteMapperTest.php
Due: php

test(notes): fix trash orphan cleanup test - simulate trash state due to PHPUnit isolation
  tests/integration/NoteMapperTest.php
Due: none

test(notes): prove notes survive the trash through the real server
  tests/http/NotesHttpTest.php
  tests/integration/NoteMapperTest.php
Due: none

feat(notes): add note coordinate helpers and API client
  package.json
  src/utils/noteSpace.js
  src/utils/notesApi.js
  tests/unit/__mocks__/@nextcloud/axios.js
  tests/unit/__mocks__/@nextcloud/router.js
  tests/unit/utils/noteSpace.test.js
  tests/unit/utils/notesApi.test.js
Due: javascript

feat(notes): sync annotations and measurements note by note
  src/composables/useSharedNotes.js
  tests/unit/composables/useSharedNotes.test.js
Due: javascript

fix(notes): keep note saves on the model they started on
  src/composables/useSharedNotes.js
  tests/unit/composables/useSharedNotes.test.js
Due: javascript

fix(notes): convert follow-up saves with the note's own model
  src/composables/useSharedNotes.js
  tests/unit/composables/useSharedNotes.test.js
Due: javascript

refactor(notes): report annotation and measurement changes through hooks
  src/composables/useAnnotation.js
  src/composables/useMeasurement.js
  tests/unit/composables/noteHooks.test.js
Due: javascript

feat(notes): share annotations and measurements in the viewer
  CHANGELOG.md
  src/components/ThreeViewer.vue
  tests/playwright/shared-notes.spec.ts
  tests/unit/annotationNoteTyping.test.js
Due: javascript

fix(notes): budget, pending-point import and view-only clear
  scripts/check-bundle-size.mjs
  src/components/ThreeViewer.vue
  src/composables/useMeasurement.js
  tests/unit/composables/noteHooks.test.js
Due: javascript

fix(share): refuse public reads through upload-only links
  lib/Service/ShareFileService.php
  tests/http/HttpTestCase.php
  tests/http/NotesHttpTest.php
  tests/unit/Controller/PublicFileControllerAuthTest.php
  tests/unit/Service/ShareFileServiceSecurityTest.php
  tests/unit/Service/ShareFileServiceTest.php
Due: php

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
