Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

feat: view 3D models through public share links (#115)
  CHANGELOG.md
  lib/AppInfo/Application.php
  lib/Listener/LoadPublicShareListener.php
  scripts/live-public-share-check.mjs
  src/composables/__tests__/usePublicShare.spec.js
  src/composables/useModelLoading.js
  src/composables/usePublicShare.js
  src/loaders/multiFileHelpers.js
  src/main.js
  src/views/ViewerComponent.vue
  tests/bootstrap.php
  tests/stubs/Files_Sharing_BeforeTemplateRenderedEvent.php
  tests/unit/Listener/LoadPublicShareListenerTest.php
Due: php, javascript

feat: load model textures on public shares
  .gitignore
  CHANGELOG.md
  docs/README.md
  docs/TECHNICAL.md
  lib/Constants/SupportedFormats.php
  lib/Controller/PublicFileController.php
  lib/Service/ModelDependencyResolver.php
  lib/Service/ShareFileService.php
  scripts/live-public-share-check.mjs
  src/composables/__tests__/usePublicShare.spec.js
  src/composables/usePublicShare.js
  src/loaders/multiFileHelpers.js
  src/views/ViewerComponent.vue
  tests/fixtures/checker.png
  tests/fixtures/textured-subdir.mtl
  tests/fixtures/textured.mtl
  tests/fixtures/textured.obj
  tests/unit/Controller/PublicFileControllerAuthTest.php
  tests/unit/Controller/PublicFileControllerTest.php
  tests/unit/Service/FormatSyncTest.php
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/Service/ShareFileServiceSecurityTest.php
  tests/unit/Service/ShareFileServiceTest.php
  tests/unit/loaders/multiFileHelpers-public.test.js
Due: php, javascript

fix: place the navigation controller on the scene, not behind the sidebar
  CHANGELOG.md
  scripts/live-controller-check.mjs
  src/components/CircularController.vue
  src/css/components/circular-controller.css
  src/utils/controllerPosition.js
  tests/unit/utils/controllerPosition.test.js
Due: javascript

fix: give the viewer wrapper a containing block so its overlays stay in the scene
  CHANGELOG.md
  scripts/live-viewer-overlay-check.mjs
  src/App.vue
Due: javascript

style: shrink the rail buttons, and size mobile up rather than down
  CHANGELOG.md
  src/config/viewer-config.js
  src/css/components/circular-controller.css
Due: javascript

fix: centre the steering wedge on the pointer, and compact the rail
  CHANGELOG.md
  src/components/CircularController.vue
  src/config/viewer-config.js
  src/css/components/circular-controller.css
  src/utils/controllerSteering.js
  tests/unit/utils/controllerSteering.test.js
Due: javascript

feat: rebuild the navigation controller as a Split console
  CHANGELOG.md
  l10n/en.json
  scripts/live-viewer-overlay-check.mjs
  src/components/CircularController.vue
  src/config/viewer-config.js
  src/css/components/circular-controller.css
  src/utils/controllerPosition.js
  src/utils/controllerSteering.js
  tests/unit/utils/controllerPosition.test.js
  tests/unit/utils/controllerSteering.test.js
Due: javascript

fix: let hiding the controller beat the idle fade
  scripts/live-viewer-overlay-check.mjs
  src/components/CircularController.vue
  src/css/components/circular-controller.css
Due: javascript

ci: run the workflows at all
  .github/workflows/block-unconventional-commits.yml
  .github/workflows/fixup.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-info-xml.yml
  .github/workflows/lint-php-cs.yml
  .github/workflows/lint-php.yml
  .github/workflows/lint-stylelint.yml
  .github/workflows/node.yml
  .github/workflows/openapi.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-jest.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/update-nextcloud-ocp-approve-merge.yml
Due: none

ci: fix everything the newly-running workflows found
  .github/workflows/node.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-jest.yml
  appinfo/info.xml
  openapi.json
  tests/phpunit.integration.xml
  tests/phpunit.migration.xml
  tests/unit/Controller/FileControllerTest.php
  tests/unit/Controller/SlicerControllerTest.php
  tests/unit/Service/FormatSyncTest.php
Due: none

ci: unblock psalm, and make the version-specific test failures explicit
  psalm-baseline.xml
  psalm.xml
  tests/unit/Controller/PublicFileControllerAuthTest.php
  tests/unit/Controller/SlicerControllerTest.php
  tests/unit/Service/ShareFileServiceSecurityTest.php
  tests/unit/Service/ShareFileServiceTest.php
Due: none

ci: fix the remaining lint, psalm and test-environment failures
  .eslintrc.cjs
  composer.json
  psalm.xml
  src/components/FileBrowser.vue
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ToastContainer.vue
  src/composables/useAnnotation.js
  src/composables/useBookmarks.js
  src/composables/useClippingPlane.js
  src/composables/useLightingPresets.js
  src/composables/useThumbnailCapture.js
  src/composables/useTransformGizmo.js
  src/files-action.js
  src/loaders/occt-runtime.js
  src/loaders/types/dotbim.js
  src/loaders/types/threeDS.js
  src/loaders/types/x3d.js
  src/utils/cameraUrlState.js
  src/views/PersonalSettings.vue
Due: javascript

ci: add the second symfony dependency, and settle psalm across the version range
  composer.json
  lib/Service/ShareFileService.php
  psalm.xml
Due: php

ci: suppress the version-split null check in psalm.xml, not in an annotation
  lib/Service/ShareFileService.php
  psalm.xml
Due: php

fix: stop selecting the deprecated PCFSoftShadowMap
  CHANGELOG.md
  src/components/ThreeViewer.vue
  src/composables/usePerformance.js
  src/composables/useScene.js
  tests/unit/composables/shadowMapType.test.js
Due: javascript

fix(deps): clear the brace-expansion DoS from the production graph
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/live-filepicker-check.mjs
Due: none

chore: retire the Integration Tests workflow
  .github/workflows/test-integration.yml
  .github/workflows/test-phpunit.yml
  CHANGELOG.md
  composer.json
  docs/README.md
  tests/phpunit.integration.xml
  tests/phpunit.migration.xml
Due: none

test: cover both database migrations
  CHANGELOG.md
  psalm-baseline.xml
  tests/bootstrap.php
  tests/unit/Migration/Version010902Date20251116061241Test.php
  tests/unit/Migration/Version010903Date20251121000000Test.php
Due: none

fix: list real folders in the 3D file browser
  CHANGELOG.md
  lib/Controller/FileController.php
  lib/Db/FileIndexMapper.php
  psalm-baseline.xml
  tests/unit/Db/FileIndexMapperFolderTest.php
Due: php

test: cover both database migrations (#128)
  CHANGELOG.md
  psalm-baseline.xml
  tests/bootstrap.php
  tests/unit/Migration/Version010902Date20251116061241Test.php
  tests/unit/Migration/Version010903Date20251121000000Test.php
Due: none

chore(deps): unblock npm update and refresh lockfile (#122)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/FileBrowser.vue
  src/components/HelpPanel.vue
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ViewerToolbar.vue
  src/views/ViewerComponent.vue
Due: javascript

fix: list real folders in the 3D file browser (#130)
  CHANGELOG.md
  lib/Controller/FileController.php
  lib/Db/FileIndexMapper.php
  psalm-baseline.xml
  tests/unit/Db/FileIndexMapperFolderTest.php
Due: php

fix: stop selecting the deprecated PCFSoftShadowMap (#126)
  CHANGELOG.md
  src/components/ThreeViewer.vue
  src/composables/usePerformance.js
  src/composables/useScene.js
  tests/unit/composables/shadowMapType.test.js
Due: javascript

chore: retire the Integration Tests workflow (#127)
  .github/workflows/test-integration.yml
  .github/workflows/test-phpunit.yml
  CHANGELOG.md
  composer.json
  docs/README.md
  tests/phpunit.integration.xml
  tests/phpunit.migration.xml
Due: none

fix: cap how many material libraries one model may pull in
  CHANGELOG.md
  lib/Service/ModelDependencyResolver.php
  psalm-baseline.xml
  tests/unit/Service/ModelDependencyResolverTest.php
Due: php

fix: viewer overlays sit on the scene, and rebuild the navigation controller (#124)
  CHANGELOG.md
  l10n/en.json
  scripts/live-viewer-overlay-check.mjs
  src/App.vue
  src/components/CircularController.vue
  src/config/viewer-config.js
  src/css/components/circular-controller.css
  src/utils/controllerPosition.js
  src/utils/controllerSteering.js
  tests/unit/utils/controllerPosition.test.js
  tests/unit/utils/controllerSteering.test.js
Due: javascript

feat: view 3D models through public share links (#115) (#123)
  .gitignore
  CHANGELOG.md
  docs/README.md
  docs/TECHNICAL.md
  lib/AppInfo/Application.php
  lib/Constants/SupportedFormats.php
  lib/Controller/PublicFileController.php
  lib/Listener/LoadPublicShareListener.php
  lib/Service/ModelDependencyResolver.php
  lib/Service/ShareFileService.php
  psalm-baseline.xml
  scripts/live-public-share-check.mjs
  src/composables/__tests__/usePublicShare.spec.js
  src/composables/useModelLoading.js
  src/composables/usePublicShare.js
  src/loaders/multiFileHelpers.js
  src/main.js
  src/views/ViewerComponent.vue
  tests/bootstrap.php
  tests/fixtures/checker.png
  tests/fixtures/textured-subdir.mtl
  tests/fixtures/textured.mtl
  tests/fixtures/textured.obj
  tests/stubs/Files_Sharing_BeforeTemplateRenderedEvent.php
  tests/unit/Controller/PublicFileControllerAuthTest.php
  tests/unit/Controller/PublicFileControllerTest.php
  tests/unit/Listener/LoadPublicShareListenerTest.php
  tests/unit/Service/FormatSyncTest.php
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/Service/ShareFileServiceSecurityTest.php
  tests/unit/Service/ShareFileServiceTest.php
  tests/unit/loaders/multiFileHelpers-public.test.js
Due: php, javascript

fix: drop the dead generateUrl import
  src/composables/useModelLoading.js
Due: javascript

docs: trim the Unreleased changelog
  CHANGELOG.md
Due: none

fix: drop the dead generateUrl import (#131)
  src/composables/useModelLoading.js
Due: javascript

docs: trim the Unreleased changelog (#132)
  CHANGELOG.md
Due: none

feat: resolve COLLADA and X3D textures on public shares
  CHANGELOG.md
  lib/Service/ModelDependencyResolver.php
  src/loaders/multiFileHelpers.js
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/loaders/xmlModelDependencies.test.js
Due: php, javascript

feat: resolve COLLADA and X3D textures on public shares (#133)
  CHANGELOG.md
  lib/Service/ModelDependencyResolver.php
  src/loaders/multiFileHelpers.js
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/loaders/xmlModelDependencies.test.js
Due: php, javascript

fix: remove raw control bytes from test source
  CHANGELOG.md
  tests/unit/loaders/xmlModelDependencies.test.js
  tests/unit/sourceControlBytes.test.js
Due: none

fix: remove raw control bytes from test source (#134)
  CHANGELOG.md
  tests/unit/loaders/xmlModelDependencies.test.js
  tests/unit/sourceControlBytes.test.js
Due: none

feat: resolve FBX and 3DS textures on public shares
  CHANGELOG.md
  lib/Service/BinaryModelScanner.php
  lib/Service/ModelDependencyResolver.php
  package.json
  src/loaders/binaryModelDependencies.js
  src/loaders/multiFileHelpers.js
  tests/setup.js
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/loaders/binaryModelDependencies.test.js
  tests/unit/loaders/multiFileHelpers-public.test.js
Due: php, javascript

fix: drop a redundant array_values psalm flags
  lib/Service/BinaryModelScanner.php
Due: php

feat: resolve FBX and 3DS textures on public shares (#135)
  CHANGELOG.md
  lib/Service/BinaryModelScanner.php
  lib/Service/ModelDependencyResolver.php
  package.json
  src/loaders/binaryModelDependencies.js
  src/loaders/multiFileHelpers.js
  tests/setup.js
  tests/unit/Service/ModelDependencyResolverTest.php
  tests/unit/loaders/binaryModelDependencies.test.js
  tests/unit/loaders/multiFileHelpers-public.test.js
Due: php, javascript

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
