Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

Fix Rollup platform dependency issue with explicit binary install
  .github/workflows/release.yml
Due: none

Fix Composer dependency issues for GitHub Actions
  composer.json
Due: none

Remove security-checker dependency causing PHP 8.2 requirement conflict
  composer.json
Due: none

Fix nested directory issue in GitHub Actions release workflow
  .github/workflows/release.yml
Due: none

update the logo
  img/app-blue.svg
  img/app-dark.svg
Due: none

change icons
  appinfo/info.xml
  img/app-blue.svg
  img/app-color.svg
  img/app-dark.svg
  img/app.svg
  src/css/threedviewer-filesIntegration.css
Due: javascript

working different type
  docker-compose.yml
  src/loaders/types/dae.js
  src/loaders/types/fbx.js
  src/loaders/types/obj.js
  src/loaders/types/ply.js
  src/loaders/types/stl.js
  src/loaders/types/threeDS.js
  src/loaders/types/vrml.js
  src/loaders/types/x3d.js
  src/main.js
Due: javascript

fix CSP
  lib/AppInfo/Application.php
  lib/Controller/PageController.php
  lib/Listener/CspListener.php
  lib/Service/ResponseBuilder.php
  src/views/ViewerComponent.vue
Due: php, javascript

fixes
  .env.example
  appinfo/info.xml
  docker-compose.yml
  lib/Controller/ApiController.php
  lib/Controller/BaseController.php
  lib/Controller/FileController.php
  lib/Listener/CspListener.php
  lib/Listener/LoadFilesListener.php
  lib/Service/Exception/UnsupportedFileTypeException.php
  lib/Service/ModelFileSupport.php
  src/constants/index.js
  src/files-action.js
  src/loaders/multiFileHelpers.js
  src/loaders/registry.js
  src/loaders/types/gltf.js
  src/views/ViewerComponent.vue
Due: php, javascript

small fix
  src/loaders/multiFileHelpers.js
  src/loaders/types/obj.js
  src/views/ViewerComponent.vue
Due: javascript

add multiple textures
  package-lock.json
  package.json
  src/loaders/types/obj.js
Due: javascript

feat(viewer): implement lazy loading with active prop pattern
  src/views/ViewerComponent.vue
Due: javascript

refactor: composables migration and OBJ loader fixes
  IMPROVEMENTS_TODO.md
  README.md
  TODO.md
  docs/COMPOSABLES_API.md
  docs/INDEX.md
  docs/INLINE_FILE_SERVING_FIX.md
  docs/LAZY_LOADING.md
  docs/MULTI_FILE_LOADING_SUMMARY.md
  docs/README.md
  docs/ROUTE_REGISTRATION_FIX.md
  docs/TRANSLATION_NAVIGATION_FIXES.md
  docs/VIEWERCOMPONENT_REFACTORING_LESSONS.md
  docs/VIEWER_HANDLER_REGISTRATION_FIX.md
  lib/Controller/FileController.php
  src/composables/useCamera.js
  src/composables/useMobile.js
  src/composables/useModelLoading.js
  src/composables/useScene.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/obj.js
  src/main.js
  src/views/ViewerComponent.vue
Due: php, javascript

feat: improve viewer UX with progress tracking and error handling
  docker-compose.yml
  package-lock.json
  src/App.vue
  src/loaders/multiFileHelpers.js
  src/loaders/types/threeMF.js
  src/views/ViewerComponent.vue
Due: javascript

fix: resolve ThreeViewer camera positioning and add viewer modal button
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/views/ViewerComponent.vue
Due: javascript

fix: resolve ThreeViewer critical bugs and improve grid scaling
  src/components/ThreeViewer.vue
  src/composables/useModelLoading.js
  src/utils/error-handler.js
Due: javascript

fix: add coordinate system rotation corrections for Z-up formats
  src/loaders/types/dae.js
  src/loaders/types/ply.js
  src/loaders/types/stl.js
  src/loaders/types/threeDS.js
  src/loaders/types/threeMF.js
  src/views/ViewerComponent.vue
Due: javascript

feat: improve camera controls and coordinate system fixes
  TODO_AUTO_ROTATE_ZOOM.md
  src/composables/useCamera.js
Due: javascript

fix: correct loadModelWithDependencies parameters in ThreeViewer
  src/components/ThreeViewer.vue
Due: javascript

feat: implement real-time download progress tracking with streaming
  src/components/ThreeViewer.vue
  src/composables/useModelLoading.js
  src/main.js
Due: javascript

feat: add real-world unit conversion and improve measurement visibility
  src/components/ThreeViewer.vue
  src/composables/useMeasurement.js
  src/composables/useModelLoading.js
Due: javascript

feat: add comprehensive measurement and annotation improvements
  src/components/ThreeViewer.vue
  src/composables/useAnnotation.js
  src/composables/useMeasurement.js
Due: javascript

refactor: extract shared model scale utilities (DRY principle)
  src/composables/useAnnotation.js
  src/composables/useMeasurement.js
  src/utils/modelScaleUtils.js
Due: javascript

refactor: extract Three.js interaction utilities (2nd DRY pass)
  src/composables/useAnnotation.js
  src/composables/useMeasurement.js
  src/utils/modelScaleUtils.js
Due: javascript

refactor: add logging and utility helpers (Phase 3)
  CODE_QUALITY_AUDIT.md
  src/composables/usePerformance.js
  src/loaders/multiFileHelpers.js
  src/loaders/registry.js
  src/loaders/types/obj.js
  src/utils/fileHelpers.js
  src/utils/logger.js
  src/utils/mathHelpers.js
Due: javascript

refactor: Phase 4 - memory management and utility consolidation
  src/composables/useComparison.js
  src/composables/useModelLoading.js
  src/composables/useScene.js
  src/composables/useUI.js
  src/loaders/types/dae.js
  src/loaders/types/obj.js
  src/loaders/types/vrml.js
  src/loaders/types/x3d.js
  src/utils/scene-helpers.js
  src/utils/three-utils.js
  src/views/ViewerComponent.vue
Due: javascript

fix: add missing imports for Phase 4 utilities
  src/composables/useScene.js
  src/views/ViewerComponent.vue
Due: javascript

fix: add missing center destructure in obj.js getBoundingInfo
  src/loaders/types/obj.js
Due: javascript

refactor: Phase 5 - array and Promise helpers
  src/loaders/multiFileHelpers.js
  src/utils/arrayHelpers.js
Due: javascript

docs: Update IMPROVEMENTS_TODO.md with completion status
  IMPROVEMENTS_TODO.md
Due: none

logs
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/composables/useComparison.js
  src/composables/useMobile.js
  src/composables/useModelLoading.js
  src/composables/usePerformance.js
  src/composables/useScene.js
  src/composables/useUI.js
Due: javascript

Fix FBX rendering, material disposal, and camera movement performance
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/composables/useModelLoading.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/fbx.js
  src/views/ViewerComponent.vue
Due: javascript

docs: Clean up and consolidate documentation structure
  CODE_QUALITY_AUDIT.md
  IMPROVEMENTS_TODO.md
  TODO.md
  TODO_AUTO_ROTATE_ZOOM.md
  docs/DEVELOPMENT.md
  docs/PERFORMANCE.md
  docs/testing/TEST_CHECKLIST.md
  docs/testing/TEST_RESULTS.md
  src/App.vue
  src/components/ThreeViewer.vue
  src/components/ViewerToolbar.vue
  src/composables/usePerformance.js
Due: javascript

fix: ThreeViewer bug fixes and code quality improvements
  src/components/ThreeViewer.vue
Due: javascript

fix: ViewerComponent bug fixes and API updates
  src/views/ViewerComponent.vue
Due: javascript

fix: FBX loader now loads all texture files from directory
  src/loaders/multiFileHelpers.js
  src/loaders/types/fbx.js
Due: javascript

fix: FBX textures now fully preserved and applied to materials
  src/loaders/types/fbx.js
Due: javascript

fix: improved camera fitting and FBX texture loading
  src/composables/useCamera.js
  src/views/ViewerComponent.vue
Due: javascript

feat: upgrade to native Nextcloud file picker v7.0.0
  package-lock.json
  package.json
  src/components/ThreeViewer.vue
  src/composables/useComparison.js
Due: javascript

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
