Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

chore(psalm): type the notes code and baseline what the stubs cannot
  lib/Controller/NotesController.php
  lib/Cron/CleanupOrphanNotes.php
  lib/Db/NoteMapper.php
  lib/Migration/Version030600Date20260928000000.php
  lib/Service/NoteAccess.php
  lib/Service/NotePayload.php
  lib/Service/NotesService.php
  psalm-baseline.xml
Due: php

fix(notes): answer a delete with an empty 204
  lib/Controller/NotesController.php
  tests/http/NotesHttpTest.php
  tests/unit/Controller/NotesControllerTest.php
Due: php

test(notes): pin the CSRF read rejection and the single-file id rule
  tests/http/NotesHttpTest.php
  tests/unit/Controller/PublicNotesControllerTest.php
Due: none

docs(changelog): note that moving a model to another storage drops its notes
  CHANGELOG.md
Due: none

fix(notes): tighten the viewer's note controls
  src/components/ThreeViewer.vue
  src/composables/useAnnotation.js
  src/composables/useMeasurement.js
  tests/unit/annotationNoteTyping.test.js
  tests/unit/composables/noteHooks.test.js
Due: javascript

feat(measurement): measure angles with three clicks
  src/components/ThreeViewer.vue
  src/composables/useMeasurement.js
  tests/unit/composables/measurementAngle.test.js
Due: javascript

feat(gcode): step through a toolpath layer by layer
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useGcodeLayers.js
  src/loaders/types/gcode.js
  tests/unit/composables/useGcodeLayers.test.js
  tests/unit/loaders/gcode-layers.test.js
Due: javascript

feat(export): export models as 3MF, PLY and USDZ
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useExport.js
  src/utils/threeMFWriter.js
  tests/unit/composables/useExport.test.js
  tests/unit/utils/threeMFWriter.test.js
Due: javascript

feat(viewer): clay, normals and x-ray render modes
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useClippingPlane.js
  src/composables/useRenderMode.js
  tests/unit/composables/useRenderMode.test.js
Due: javascript

docs, test: cover the new inspection tools
  CHANGELOG.md
  README.md
  l10n/en.json
  scripts/check-bundle-size.mjs
  src/components/HelpPanel.vue
  tests/playwright/inspection-tools.spec.ts
Due: javascript

fix(deps): Fix npm audit
  package-lock.json
Due: none

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
