Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

Register OCC index command via commands.php
  appinfo/Application.php
  appinfo/commands.php
  appinfo/info.xml
  lib/AppInfo/Application.php
Due: php

Allow deep folder paths in file index
  CHANGELOG.md
  lib/Db/FileIndex.php
  lib/Db/FileIndexMapper.php
  lib/Migration/Version010903Date20251121000000.php
  lib/Service/FileIndexService.php
Due: php

Bump version to 1.9.6
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

Version 1.9.7: Add AnycubicSlicer, fix layout/resizing, improve file indexing and cleanup
  CHANGELOG.md
  README.md
  appinfo/info.xml
  img/slicers/anycubicslicer.png
  lib/AppInfo/Application.php
  lib/Controller/FileController.php
  lib/Controller/SlicerController.php
  lib/Cron/CleanupTempFiles.php
  lib/Service/FileIndexService.php
  package.json
  src/App.vue
  src/components/ThreeViewer.vue
  src/components/ToastContainer.vue
  src/composables/useSlicerIntegration.js
Due: php, javascript

Fix CI: Use GITHUB_TOKEN instead of missing COMMAND_BOT_PAT
  .github/workflows/update-nextcloud-ocp-matrix.yml
Due: none

Update CHANGELOG.md with issue reference #52
  CHANGELOG.md
Due: none

Fix logoPath using imagePath helper
  src/components/ThreeViewer.vue
Due: javascript

Comment out AnycubicSlicer integration until protocol is confirmed
  src/composables/useSlicerIntegration.js
Due: javascript

Release 1.9.8: Dependency updates
  CHANGELOG.md
  appinfo/info.xml
  package-lock.json
  package.json
Due: none

Fix folder indexing for deep structures and add manual re-index tool
  l10n/ar.json
  l10n/de.json
  l10n/en.json
  l10n/es.json
  lib/Controller/FileController.php
  lib/Db/FileIndexMapper.php
  lib/Service/FileIndexService.php
  src/App.vue
  src/components/SlideOutToolPanel.vue
Due: php, javascript

add badge
  README.md
Due: none

Enhance file loaders and viewer functionality
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/loaders/BaseLoader.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/dae.js
  src/loaders/types/fbx.js
  src/loaders/types/vrml.js
Due: javascript

Update GitHub workflows and configuration
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/npm-audit-fix.yml
  .github/workflows/update-nextcloud-ocp-matrix.yml
  package.json
Due: none

Release 2.0.0: Major version with personal settings and enhanced loaders
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

Fix security vulnerability and update app store metadata
  appinfo/info.xml
  package-lock.json
  src/App.vue
Due: javascript

Update README and TODO documentation
  README.md
  TODO.md
Due: none

Add manual workflow_dispatch trigger to release workflow
  .github/workflows/release.yml
Due: none

Fix release workflow: explicitly specify tag_name for GitHub Releases
  .github/workflows/release.yml
Due: none

Make app store publishing step optional to allow release to complete
  .github/workflows/release.yml
Due: none

Update CHANGELOG.md with documentation improvements and settings fix
  CHANGELOG.md
  CONTRIBUTING.md
  TODO.md
  docs/IMPLEMENTATION.md
  docs/README.md
  docs/TECHNICAL.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
  img/file-3d.svg
  src/components/ThreeViewer.vue
  src/css/threedviewer-filesIntegration.css
  src/utils/iconHelpers.js
  src/views/PersonalSettings.vue
Due: javascript

Centralize format definitions and add synchronization tests
  CHANGELOG.md
  TODO.md
  docs/TECHNICAL.md
  lib/Constants/SupportedFormats.php
  lib/Repair/RegisterThreeDMimeTypes.php
  lib/Repair/UnregisterThreeDMimeTypes.php
  lib/Service/ModelFileSupport.php
  tests/unit/Constants/SupportedFormatsTest.php
  tests/unit/Service/FormatSyncTest.php
Due: php

feat: Add file browser default view setting and UI improvements
  CHANGELOG.md
  TODO.md
  docs/COMPOSABLES_API.md
  docs/TECHNICAL.md
  docs/TEST_COMPLIANCE.md
  docs/TROUBLESHOOTING.md
  lib/Constants/SupportedFormats.php
  lib/Controller/ApiController.php
  lib/Controller/FileController.php
  lib/Controller/PageController.php
  lib/Service/ResponseBuilder.php
  src/App.vue
  src/components/FileBrowser.vue
  src/composables/useModelLoading.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/gltf.js
  src/main.js
  src/views/PersonalSettings.vue
  src/views/ViewerComponent.vue
  templates/index.php
  tests/unit/Controller/ApiTest.php
  tests/unit/Controller/FileControllerTest.php
  tests/unit/Controller/SettingsControllerTest.php
  tests/unit/Controller/SlicerControllerTest.php
  tests/unit/Service/FileIndexServiceTest.php
  tests/unit/Service/FormatSyncTest.php
Due: php, javascript

chore: Bump version to 2.1.0
  CHANGELOG.md
  appinfo/info.xml
  package.json
Due: none

docs: Update README for version 2.1.0 release
  README.md
Due: none

docs: Update info.xml with version 2.1.0 features
  appinfo/info.xml
Due: none

chore(deps-dev): update dependencies
  package-lock.json
  package.json
  vendor-bin/openapi-extractor/composer.json
Due: none

fix: resolve multiple bugs in texture matching, VRML preprocessing, and viewer component
  CHANGELOG.md
  src/components/FileBrowser.vue
  src/loaders/multiFileHelpers.js
  src/loaders/types/vrml.js
  src/views/ViewerComponent.vue
Due: javascript

Fix CSP violations for GLB/GLTF texture and buffer loading in modal viewer
  CHANGELOG.md
  l10n/ar.json
  l10n/de.json
  l10n/en.json
  l10n/es.json
  src/loaders/types/gltf.js
  src/views/ViewerComponent.vue
Due: javascript

Add animation controls to viewer UI components
  CHANGELOG.md
  src/App.vue
  src/components/MinimalTopBar.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ViewerToolbar.vue
  src/composables/useAnimation.js
  src/composables/useModelLoading.js
Due: javascript

Fix animation state sync, CSP patches, and directory path extraction
  src/App.vue
  src/components/ThreeViewer.vue
  src/components/ViewerModal.vue
  src/composables/useModelLoading.js
  src/loaders/types/gltf.js
  src/views/ViewerComponent.vue
Due: javascript

Clean code and fix model comparison positioning
  CHANGELOG.md
  src/components/FileBrowser.vue
  src/components/FileBrowser/FolderHierarchy.vue
  src/components/FileNavigation.vue
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/composables/useComparison.js
  src/composables/useModelLoading.js
  src/files-action.js
  src/main.js
  src/views/ViewerComponent.vue
Due: javascript

Add cache stats UI and harden slicer uploads
  CHANGELOG.md
  docs/TECHNICAL.md
  lib/Controller/SlicerController.php
  lib/Cron/CleanupTempFiles.php
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/loaders/multiFileHelpers.js
  src/loaders/types/obj.js
  src/utils/dependencyCache.js
Due: php, javascript

feat: Add performance scaling for large models and security hardening
  .nvmrc
  CHANGELOG.md
  TODO.md
  src/App.vue
  src/components/ThreeViewer.vue
  src/components/ViewerModal.vue
  src/components/ViewerToolbar.vue
  src/config/viewer-config.js
Due: javascript

feat: Add automated bundle budget enforcement with historical tracking
  .github/workflows/node.yml
  .gitignore
  CHANGELOG.md
  TODO.md
  scripts/check-bundle-size.mjs
Due: none

feat: Complete Vue 3 migration pre-work
  CHANGELOG.md
  TODO.md
  docs/COMPOSABLES_API.md
  src/components/FileBrowser.vue
  src/components/FileNavigation.vue
  src/components/ToastContainer.vue
  src/components/ViewerModal.vue
  src/components/ViewerToolbar.vue
  src/loaders/types/viewer-api.js
  src/views/ViewerComponent.vue
Due: javascript

fix(deps): Fix npm audit
  package-lock.json
Due: none

chore: psr-12 formatting and cleanup
  appinfo/Application.php
  appinfo/commands.php
  appinfo/routes.php
  lib/AppInfo/Application.php
  lib/Command/IndexFiles.php
  lib/Controller/ApiController.php
  lib/Controller/AssetController.php
  lib/Controller/ConfigController.php
  lib/Controller/FileController.php
  lib/Controller/PageController.php
  lib/Controller/SettingsController.php
  lib/Controller/SlicerController.php
  lib/Cron/CleanupTempFiles.php
  lib/Db/FileIndex.php
  lib/Db/FileIndexMapper.php
  lib/Listener/FileIndexListener.php
  lib/Migration/Version010902Date20251116061241.php
  lib/Migration/Version010903Date20251121000000.php
  lib/Preview/ModelPreviewProvider.php
  lib/Service/FileIndexService.php
  lib/Service/ResponseBuilder.php
  lib/Settings/Personal.php
  lib/Settings/Section.php
  openapi.json
  src/components/FileBrowser.vue
  src/components/FileNavigation.vue
  src/components/SlicerModal.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/views/PersonalSettings.vue
  src/views/ViewerComponent.vue
  tests/unit/Constants/SupportedFormatsTest.php
  tests/unit/Controller/ApiTest.php
  tests/unit/Controller/SettingsControllerTest.php
  tests/unit/Controller/SlicerControllerTest.php
  tests/unit/Service/FileIndexServiceTest.php
  tests/unit/Service/FormatSyncTest.php
Due: php, javascript

feat: add configurable measurement and annotation sizing
  CHANGELOG.md
  src/components/ThreeViewer.vue
  src/composables/useAnnotation.js
  src/composables/useMeasurement.js
  src/config/viewer-config.js
  src/utils/modelScaleUtils.js
  src/views/PersonalSettings.vue
Due: javascript

chore: document pre-commit checks and apply lint fixes
  CONTRIBUTING.md
  src/App.vue
  src/components/FileBrowser.vue
  src/components/FileNavigation.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ToastContainer.vue
  src/components/ViewerModal.vue
  src/components/ViewerToolbar.vue
  src/composables/useAnimation.js
  src/composables/useAnnotation.js
  src/composables/useCamera.js
  src/composables/useComparison.js
  src/composables/useMeasurement.js
  src/composables/useModelLoading.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/fbx.js
  src/loaders/types/gltf.js
  src/loaders/types/obj.js
  src/loaders/types/vrml.js
  src/utils/dependencyCache.js
  src/utils/modelScaleUtils.js
  src/views/ViewerComponent.vue
Due: javascript

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
