Repository maz1987in/3Dviewer-Nextcloud: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

feat: comprehensive composables enhancement and UI overlap fix
  src/components/ThreeViewer.vue
  src/composables/useAnnotation.js
  src/composables/useCamera.js
  src/composables/useComparison.js
  src/composables/useMeasurement.js
  src/composables/useMobile.js
  src/composables/useModelLoading.js
  src/composables/usePerformance.js
  src/composables/useScene.js
  src/composables/useUI.js
Due: javascript

feat: comprehensive composables enhancement and optimization
  src/components/ThreeViewer.vue
  src/composables/useAnnotation.js
  src/composables/useCamera.js
  src/composables/useComparison.js
  src/composables/useMeasurement.js
  src/composables/useMobile.js
  src/composables/useModelLoading.js
  src/composables/useScene.js
  src/utils/mathHelpers.js
  src/utils/modelScaleUtils.js
Due: javascript

feat: implement hybrid toolbar UI with dark theme
  src/App.vue
  src/components/MinimalTopBar.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
Due: javascript

feat: Add camera projection toggle (Perspective ↔ Orthographic)
  TODO.md
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/config/viewer-config.js
Due: javascript

feat: Add multi-format 3D model export functionality (GLB, STL, OBJ)
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useExport.js
Due: javascript

docs: Update TODO.md with completed export functionality
  TODO.md
Due: none

feat: Add enhanced model statistics panel
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useModelStats.js
Due: javascript

docs: Update TODO.md with completed model statistics panel
  TODO.md
Due: none

feat: Add IndexedDB-based dependency caching system
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/config/viewer-config.js
  src/loaders/multiFileHelpers.js
  src/utils/dependencyCache.js
Due: javascript

docs: Update TODO.md with completed dependency caching
  TODO.md
Due: none

fix: Enhanced 3MF loader with ZIP structure inspection and better error messages
  src/loaders/types/threeMF.js
Due: javascript

feat: Progressive texture loading + subdirectory texture search + 3DS/DAE multi-file support
  src/components/ThreeViewer.vue
  src/composables/useModelLoading.js
  src/composables/useProgressiveTextures.js
  src/config/viewer-config.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/obj.js
  src/loaders/types/threeDS.js
  src/utils/three-utils.js
  src/views/ViewerComponent.vue
Due: javascript

docs: Update TODO.md with completed Progressive Texture Loading feature
  TODO.md
Due: none

feat: Add comprehensive error handling for texture/dependency loading failures
  src/components/ThreeViewer.vue
  src/components/ToastContainer.vue
  src/composables/useModelLoading.js
  src/composables/useProgressiveTextures.js
  src/loaders/multiFileHelpers.js
  src/loaders/types/threeDS.js
  src/views/ViewerComponent.vue
Due: javascript

docs: Update TODO.md with completed error handling feature
  TODO.md
Due: none

feat: Change Performance button to cycle through performance modes
  src/App.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
Due: javascript

fix: Auto-rotate + zoom interaction - sync distance with OrbitControls
  src/composables/useCamera.js
Due: javascript

docs: Update TODO.md with completed auto-rotate zoom fix
  TODO.md
Due: none

feat: Fix KTX2 texture compression + GLTF multi-file resource loading
  lib/Controller/AssetController.php
  src/config/viewer-config.js
  src/loaders/types/gltf.js
Due: php, javascript

docs: Update TODO.md with completed KTX2 compression feature
  TODO.md
Due: none

feat: Add theme customization system with RTL (Right-to-Left) support
  src/App.vue
  src/components/MinimalTopBar.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ToastContainer.vue
  src/composables/useScene.js
  src/composables/useTheme.js
Due: javascript

docs: Update TODO.md with completed theme customization feature
  TODO.md
Due: none

feat: Add comprehensive help panel with tool explanations
  src/App.vue
  src/components/HelpPanel.vue
Due: javascript

docs: Update TODO.md with completed help panel feature
  TODO.md
Due: none

fix: Make axes and grid implementation consistent with VIEWER_CONFIG
  src/components/ThreeViewer.vue
Due: javascript

feat: Add impressive demo scene with app logo for empty state
  l10n/ar.json
  l10n/de.json
  l10n/en.json
  l10n/es.json
  src/components/ThreeViewer.vue
  src/config/viewer-config.js
Due: javascript

feat: Update file type icons, MIME types, and viewer components
  appinfo/mimetypemapping.json
  img/file-icon.svg
  img/filetypes/3ds.svg
  img/filetypes/3mf.svg
  img/filetypes/dae.svg
  img/filetypes/fbx.svg
  img/filetypes/glb.svg
  img/filetypes/gltf.svg
  img/filetypes/mtl.svg
  img/filetypes/obj.svg
  img/filetypes/ply.svg
  img/filetypes/stl.svg
  img/filetypes/vrml.svg
  img/filetypes/wrl.svg
  img/filetypes/x3d.svg
  lib/Repair/RegisterThreeDMimeTypes.php
  lib/Service/ModelFileSupport.php
  src/components/HelpPanel.vue
  src/utils/iconHelpers.js
Due: php, javascript

Add GitHub issue templates for better issue management
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: none

Add marketing screenshots for v1.7.7
  img/screenshots/01-main-viewer.png
  img/screenshots/02-files-integration.png
  img/screenshots/03-toolbar-features.png
  img/screenshots/04-multi-file-support.png
  img/screenshots/05-dark-theme.png
Due: none

update
  CHANGELOG.md
  README.md
  appinfo/info.xml
  package.json
Due: none

Refactor: Remove unused documentation files
  docs/ADVANCED_VIEWER_WIRING.md
  docs/API_REFERENCE.md
  docs/CODE_AUDIT_UNUSED_FILES.md
  docs/COMPOSABLES_API.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPMENT.md
  docs/IMPLEMENTATION.md
  docs/INDEX.md
  docs/INSTALLATION.md
  docs/LAZY_LOADING.md
  docs/MODEL_FILE_SUPPORT_ANALYSIS.md
  docs/MODEL_LOADING_IMPLEMENTATION.md
  docs/MULTI_FILE_LOADING.md
  docs/MULTI_FILE_LOADING_ARCHITECTURE.md
  docs/PERFORMANCE.md
  docs/README.md
  docs/TECHNICAL.md
  docs/TECHNICAL_ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  docs/USER_GUIDE.md
  docs/VIEWERCOMPONENT_REFACTORING_LESSONS.md
  docs/testing/TEST_CHECKLIST.md
  docs/testing/TEST_RESULTS.md
Due: none

docs: Consolidate and sync documentation with codebase
  CONTRIBUTING.md
  README.md
  TODO.md
  docs/IMPLEMENTATION.md
  docs/TECHNICAL.md
  docs/TESTING.md
Due: none

Delete .gitkeep
  translationfiles/.gitkeep
Due: none

chore: Clean up directories and add git hooks support
  .helpers/README.md
  CONTRIBUTING.md
  Makefile
Due: none

Update security.yml
  .github/workflows/security.yml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add 3D circular controller with drag-to-rotate cube and movement ring
  3d_controller_circle_sketch.svg
  FACE_LABELS_README.md
  VIEWCUBE_IMPLEMENTATION.md
  appinfo/info.xml
  l10n/en.json
  package.json
  src/App.vue
  src/components/CircularController.vue
  src/components/MinimalTopBar.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/components/ViewCube.vue
  src/components/ViewerModal.vue
  src/components/ViewerToolbar.vue
  src/composables/useCamera.js
  src/composables/useController.js
  src/composables/useFaceLabels.js
  src/config/viewer-config.js
  src/css/components/circular-controller.css
  src/utils/face-labels.js
Due: javascript

Add panning controls to circular controller widget
  src/components/CircularController.vue
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/config/viewer-config.js
  src/css/components/circular-controller.css
Due: javascript

feat: implement official Nextcloud dialogs CSS for filepicker styling
  VIEWCUBE_IMPLEMENTATION.md
  appinfo/info.xml
  l10n/ar.json
  l10n/de.json
  l10n/en.json
  l10n/es.json
  lib/Controller/PageController.php
  package-lock.json
  package.json
  src/App.vue
  src/components/CircularController.vue
  src/components/HelpPanel.vue
  src/components/SlideOutToolPanel.vue
  src/components/ThreeViewer.vue
  src/composables/useCamera.js
  src/composables/useComparison.js
  src/composables/useMeasurement.js
  src/composables/usePerformance.js
  src/composables/useScene.js
  src/config/viewer-config.js
  src/constants/index.js
  src/main.js
  src/views/ViewerComponent.vue
Due: php, javascript

Path conditions:
  php: any of: lib/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
  javascript: any of: src/, but not: tests/, vendor/, vendor-bin/, node_modules/, build/, dist/, *.min.js, *.min.css
